$color-primary: #323264;
$color-primary-alt: #46466e;
$color-primary-soft: rgba(255, 255, 255, .3);
$color-background: linear-gradient(to top, #000949, #151069, #2f1389, #4d10a9, #6e00c9);;

$color-accent: #f0145a;

$color-white: #FFFFFF;
$color-black: #000000;

$color-active: #24a3ff;
$color-active-hover: rgba(255, 255, 255, .2);
$color-active-focus: rgb(61, 61, 61);